# Build artifacts
build/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PACTH
*.patch
*.diff